html {
  scroll-behavior: smooth;
}

.page {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background-color: #CEBFAE;
}

@font-face {
  font-family: "La Obrige";
  src: url("La\ Obrige.otf") format("opentype");
}

h1 {
  font-family: "La Obrige";
  color: #F4F4EE;
  font-size: 64px;
  margin: 0;
  text-align: center;
}

h2 {
  font-family: "La Obrige";
  color: #F4F4EE;
  font-size: 36px;
  margin: 8px 0px;
}

p {
  color: #F4F4EE;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

/* NavBar */
.right {
  display: flex;
  justify-content: flex-end;
  margin: 0px 32px;
}
.navbar {
  display: flex;
  background-color: #CEBFAE;
  color: #F4F4EE;
  align-items: center;
  padding: 16px 24px;
  max-height: 56px;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav {
  text-decoration: none;
  color: #F4F4EE;
  font-size: 24px;
  font-weight: bold;
  padding: 16px;
}

/* Landing Page */
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 256px 200px 256px;
}

/* About me */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 56px 0px 128px 0px;
}
.about-text {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 16px 16px;
  letter-spacing: 1px;
}
.newyork {
  height: 400px;
  padding: 40px 16px;
}

/* Projects */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0px 250px 0px;
}
.project-title {
  text-align: center;
}
.project-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content:  center;
}
.project-card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2d8cc;
  width: 25%;
  min-width: 200px;
  height: 300px;
  border-radius: 16px;
  width: 21%;
  margin: 36px auto;
}
.project-button {
  font-size: 24px;
  font-family: "La Obrige";
  color: #F4F4EE;
  text-align: center;
  letter-spacing: 1px;
  background-color: transparent;
  border: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#myModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #e2d8cc;
}

.modal-content {
  background-color: #e2d8cc;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color:#F4F4EE;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Contact */
.contact {
  background-color: #e2d8cc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact a {
  font-size: 48px;
  color:#CEBFAE;
  text-decoration: none;
  padding: 64px;
}
